{% extends 'base.html' %}

{% block cssfiles %}
    <link rel="stylesheet" href="/assets/css/datatables/ext/datatables1.10.16/jquery.dataTables.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/buttons1.5.1/buttons.bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/select1.2.5/select.bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap/ext/toastr.css" />
{% endblock %}

{% block pagecontent %}
    <table id="authlist" class="table table-bordered table-hover" style="width: 100%;border-collapse:collapse">
           <thead>
            <tr>
                <th>ID</th>
                <th>用户</th>
                <th>模块</th>
                <th>状态</th>
                <th>创建时间</th>
                <th class="center sorting_disabled">操作</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block modals %}
    {% include "auth/auth/add.html" %}
    {% include "auth/auth/det.html" %}
    {% include "auth/auth/del.html" %}
    {% include "auth/auth/mod.html" %}
{% endblock %}

{% block jsfiles %}
    <script src="/assets/js/jquery/ext/validate/1.17.0/jquery.form.js"></script>
    <script src="/assets/js/jquery/ext/validate/1.17.0/jquery.validate.js"></script>
    <script src="/assets/js/jquery/ext/validate/1.17.0/messages_zh.js"></script>
    <script src="/assets/js/datatables/ext/datatables1.10.16/jquery.dataTables.js"></script>
    <script src="/assets/js/datatables/ext/datatables1.10.16/dataTables.bootstrap.js"></script>
    <script src="/assets/js/datatables/ext/buttons1.5.1/dataTables.buttons.js"></script>
    <script src="/assets/js/datatables/ext/buttons1.5.1/buttons.bootstrap.js"></script>
    <script src="/assets/js/datatables/ext/select1.2.5/dataTables.select.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-confirmation.js"></script>
    <script src="/assets/js/bootstrap/ext/toastr.js"></script>
    <script src="/assets/js/cube/cube.js"></script>
{% endblock %}

{% block jscontent %}
<script type="text/javascript">  
    var table = $('#authlist').DataTable( {
        ajax: {
            url: '{% url 'cms.apis.auth.auth.list' %}',
            type: 'POST'
        },

        filter: true,
        processing: true,
        rowId: 'id',
        dom: 'Bfrtip',
        serverSide: false,

        select: {
            style: 'single',
            blurable: true
        },
        
        
        language: {
            url: '/assets/json/zh_cn.json?2018'
        },

        buttons: [
            {
                text: '新建',
                className: 'btn btn-success btn-sm',
                action: function(e, dt, node, config) {
                    $('#modal_auth_auth_add').modal();
                }

            }, {
                text: '详情',
                className: 'btn btn-info btn-sm',
                action: function(e, dt, node, config) {
                    var row = dt.row({selected: true}).data();
                    if(!row){
                        var btn = node[0];
                        node.attr('title', '提示');
                        node.attr('data-container', 'body');
                        node.attr('data-toggle', 'popover');
                        node.attr('data-content', '请选择项目');
                        node.attr('data-placement', 'top');
      
                        node.popover('show');
                        setTimeout(function(){
                            node.popover('destroy');
                        }, 500);

                        return;
                    }

                    $('#det_id').val(row.id);
                    $('#det_admin').val(row.admin);
                    $('#det_module').val(row.module);
                    $('#det_disable').val(String(row.disable));
                    $('#det_ctime').val(cube.time.localstr(row.ctime));

                    $('#modal_auth_auth_det').modal();
                }
            }, {
                text: '修改',
                className: 'btn btn-warning btn-sm',
                action: function(e, dt, node, config) {
                    var row = dt.row({selected: true}).data();
                    if(!row){
                        var btn = node[0];
                        node.attr('title', '提示');
                        node.attr('data-container', 'body');
                        node.attr('data-toggle', 'popover');
                        node.attr('data-content', '请选择项目');
                        node.attr('data-placement', 'top');
      
                        node.popover('show');
                        setTimeout(function(){
                            node.popover('destroy');
                        }, 500);

                        return;
                    }

                    $('#mod_id_hidden').val(row.id);
                    $('#mod_id').val(row.id);
                    $('#mod_admin').val(row.admin);
                    $('#mod_module').val(row.module);
                    $('#mod_disable').val(String(row.disable));
                    $('#mod_ctime').val(cube.time.localstr(row.ctime));

                    $('#modal_auth_auth_mod').modal();
                }
            }, {
                text: '删除',
                className: 'btn btn-danger btn-sm',
                action: function(e, dt, node, config) {
                    var row = dt.row({selected: true}).data();
                    if(!row){
                        var btn = node[0];
                        node.attr('title', '提示');
                        node.attr('data-container', 'body');
                        node.attr('data-toggle', 'popover');
                        node.attr('data-content', '请选择项目');
                        node.attr('data-placement', 'top');
      
                        node.popover('show');
                        setTimeout(function(){
                            node.popover('destroy');
                        }, 500);

                        return;
                    }
                    $('#del_id').val(row.id);
                    $('#modal_auth_auth_del_user').text(row.user);
                    $('#modal_auth_auth_del').modal();
                }
            }
        ],

        columns: [ {
                data: 'id'
            }, {
                data: 'admin'
            }, {
                data: 'module'
            }, {
                data: 'disable',
                render: function(data, type, row, meta) {
                    if(type != 'display')
                        return data;

                    if(data)
                        return '<span class="label label-danger">禁用</span>';
                    else
                        return '<span class="label label-success">启用</span>';
                }
            }, {
                data: 'ctime',
                render: function(data, type, row, meta) {
                    if(type != 'display')
                        return data;

                    var cdate = new Date();
                    cdate.setTime(data*1000);
                    return cdate.toLocaleString();
                }
            }, {
                data: 'id',
                orderable: false,
                selectable: false,
                render: function(data, type, row, meta) {
                    return '<div class="hidden-sm hidden-xs btn-group" style="display: block">'+
                                '<button class="btn btn-xs btn-success" onclick="onshowitem(this,'+data+')">' +
                                    '<i class="ace-icon fa fa-search-plus bigger-130"></i>' +
                                '</button>'+
                                '<button class="btn btn-xs btn-info" onclick="onmoditem(this,'+data+')">' +
                                    '<i class="ace-icon fa fa-pencil bigger-130"></i>' +
                                '</button>'+
                                '<button class="btn btn-xs btn-danger" onclick="ondelitem(this,'+data+')">' +
                                    '<i class="ace-icon fa fa-trash bigger-130"></i>' +
                                '</button>'+
                            '</div>';
                }
            }
        ]
    } );

    //init add validation
    $("#form_auth_auth_add").validate({
        debug: false,
        errorClass: 'text text-danger'
    });

    $("#form_auth_auth_mod").validate({
        debug: false,
        errorClass: 'text text-danger'
    });

    //init toastr position
    toastr.options = {
        'positionClass': 'toast-top-center',
        'timeOut': 1000,
    };


    //process modal add item
    function additem() {
        var form = $('#form_auth_auth_add');
        if(form.valid()){
            form.ajaxSubmit({
               url: '{% url "cms.apis.auth.auth.add" %}',
               type: 'post',
               success: function(resp) {
                    if(resp.status){
                        $('#modal_auth_auth_add').modal('hide');
                        table.row.add(resp.data).draw();
                    } else {
                        $('#err_auth_auth_add').text(resp.message);
                    }
               }
            });
        }
    }

    //process modal mod item
    function moditem() {
        var form = $('#form_auth_auth_mod');
        if(form.valid()){
            form.ajaxSubmit({
               url: '{% url "cms.apis.auth.auth.mod" %}',
               type: 'post',
               success: function(resp) {
                    if(resp.status){
                        $('#modal_auth_auth_mod').modal('hide');
                        table.row('#'+resp.data.id).data(resp.data).draw();
                    } else {
                        $('#err_auth_auth_mod').text(resp.message);
                    }
               }
            });
        }
    }

    //process modal del item
    function delitem() {
        id = $('#del_id').val();
        var form = $('#form_auth_auth_del');
        if(form.valid()){
            form.ajaxSubmit({
               url: '{% url "cms.apis.auth.auth.del" %}',
               type: 'post',
               success: function(resp) {
                    if(resp.status){
                        $('#modal_auth_auth_del').modal('hide');
                        table.row('#'+id).remove().draw();
                    } else {
                        $('#err_auth_auth_del').text(resp.message);
                    }
               }
            });
        }        
    }

    //process icon show item
    function onshowitem(elmt, id) {
        row = table.row('#'+id).data();

        $('#det_id').val(row.id);
        $('#det_admin').val(row.admin);
        $('#det_module').val(row.module);
        $('#det_disable').val(String(row.disable));
        $('#det_ctime').val(cube.time.localstr(row.ctime));


        $('#modal_auth_auth_det').modal();
    }


    //process icon modify item
    function onmoditem(elmt, id) {
        row = table.row('#'+id).data();

        $('#mod_id_hidden').val(row.id);
        $('#mod_id').val(row.id);
        $('#mod_admin').val(row.admin);
        $('#mod_module').val(row.module);
        $('#mod_disable').val(String(row.disable));
        $('#mod_ctime').val(cube.time.localstr(row.ctime));

        $('#modal_auth_auth_mod').modal();
    }

    //process icon delete item
    function ondelitem(elmt, id){
        $(elmt).confirmation({
            'singleton': true,
            'popout': true,
            'title': '确定删除该项目？',
            'btnOkLabel': '确定',
            'btnCancelLabel': '取消',
            'onConfirm': function() {
                var params = 'id='+id;
                $.post('{% url "cms.apis.auth.auth.del" %}', params, function(resp){
                    if(resp.status){
                        table.row('#'+id).remove();
                        table.draw();
                    } else {
                       toastr.error(resp.message);
                    }
                }, "json");

                $(elmt).confirmation('destroy');
            },
            'onCancel': function() {
                $(elmt).confirmation('destroy');  
            }
        });

        $(elmt).confirmation('show');
    }
</script>
{% endblock %}
