{% extends 'base.html' %}

{% block cssfiles %}
    <link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/assets/css/rowReorder.dataTables.min.css" />
{% endblock %}

{% block pagecontent %}
    <table id="adminlist" class="table table-bordered table-hover text-center" style="width: 100%;border-collapse:collapse">
           <thead>
            <tr>
                <th class="center">ID</th>
                <th class="center">用户</th>
                <th class="center">姓名</th>
                <th class="center">手机</th>
                <th class="center">禁用</th>
                <th class="center">创建时间</th>
                <th class="center sorting_disabled">操作</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block jsfiles %}
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="/assets/js/dataTables.rowReorder.min.js"></script>
    <script src="/assets/js/dataTables.buttons.min.js"></script>
    <script src="/assets/js/dataTables.select.min.js"></script>
{% endblock %}

{% block jscontent %}
    $('#adminlist').DataTable( {
        ajax: '{% url 'cms.api.auth.admin.list' %}',

        buttons: ['excel', 'pdf'],

        select: false,
        filter: true,

        language: {
            url: '/assets/json/zh_cn.json?2018'
        },

        columns: [
            {"data": 0},
            {"data": 1},
            {"data": 2},
            {"data": 3},
            {"data": 4},
            {"data": 5},
            {"data": 6}
        ],

        columnDefs: [
            {
                targets: 6,
                data: function(row, type, val, meta){
                    return row;
                },
                defaultContent: '<div class="hidden-sm hidden-xs action-buttons"><a href="#" class="blue"><i class="ace-icon fa fa-search-plus bigger-130"></i> </a></div>'
            }
        ]
    } );

    $('#adminlist').on( 'click', 'tbody tr td', function () {
        alert($(this).val());
    } );
{% endblock %}
