{% extends 'base.html' %}

{% block cssfiles %}
    <link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/assets/css/rowReorder.dataTables.min.css" />
{% endblock %}

{% block pagecontent %}
    <table id="modulelist" class="table table-bordered table-hover text-center" style="width:100%;border-collapse:collapse">
           <thead>
            <tr>
                <th class="center">ID</th>
                <th class="center">名称</th>
                <th class="center">路径</th>
                <th class="center">图标</th>
                <th class="center">排序</th>
                <th class="center">禁用</th>
                <th class="center">创建时间</th>
                <th class="center">操作</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block jsfiles %}
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/dataTables.rowReorder.min.js"></script>
{% endblock %}

{% block jscontent %}
    var table = $('#modulelist').DataTable( {
        ajax: '{% url 'cms.api.auth.module.list' %}',

        language: {
            url: '/assets/json/zh_cn.json?2018'
        },

        lenthChange: false,
        searching: false,
        paging: false,
        info: false,
        ordering: true,

        rowReorder: {
            selector: 'tr'
        },

        columnDefs: [
            {
                targets: -1,
                data: null,
                defaultContent: '<div class="hidden-sm hidden-xs action-buttons"><a href="#" class="green"><i class="ace-icon fa fa-pencil bigger-130"></i> </a><a href="#" class="red"><i class="ace-icon fa fa-trash-o bigger-130"></i> </a></div>'
            }
        ]
    } );

{% endblock %}