{% extends 'base.html' %}

{% block cssfiles %}
    <link rel="stylesheet" href="/assets/css/datatables/ext/datatables1.10.16/jquery.dataTables.css" />

    <link rel="stylesheet" href="/assets/css/datatables/ext/select1.2.5/select.dataTables.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/select1.2.5/select.bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/buttons1.5.1/buttons.dataTables.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/buttons1.5.1/buttons.bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/editor1.7.3/editor.dataTables.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/editor1.7.3/editor.bootstrap.css" />
{% endblock %}

{% block pagecontent %}
    <table id="modulelist" class="table table-bordered table-hover text-center" style="width:100%;border-collapse:collapse">
           <thead>
            <tr>
                <th class="center">ID</th>
                <th class="center">名称</th>
                <th class="center">路径</th>
                <th class="center">图标</th>
                <th class="center">排序</th>
                <th class="center">禁用</th>
                <th class="center">创建时间</th>
                <th class="center">操作</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block jsfiles %}
    <script src="/assets/js/datatables/ext/datatables1.10.16/jquery.dataTables.js"></script>

    <script src="/assets/js/datatables/ext/buttons1.5.1/dataTables.buttons.js"></script>
    <script src="/assets/js/datatables/ext/buttons1.5.1/buttons.bootstrap.js"></script>
    <script src="/assets/js/datatables/ext/select1.2.5/dataTables.select.js"></script>
    <script src="/assets/js/datatables/ext/editor1.7.3/dataTables.editor.js"></script>
    <script src="/assets/js/datatables/ext/editor1.7.3/editor.bootstrap.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-confirmation.js"></script>
{% endblock %}

{% block jscontent %}
<script type="text/javascript">
    var table = $('#modulelist').DataTable( {
        ajax: '{% url 'cms.api.auth.module.list' %}',

        language: {
            url: '/assets/json/zh_cn.json?2018'
        },

        lenthChange: false,
        searching: false,
        paging: false,
        info: false,
        ordering: true,

        rowReorder: {
            selector: 'tr'
        },

        columnDefs: [
            {
                targets: -1,
                data: null,
                defaultContent: '<div class="hidden-sm hidden-xs action-buttons"><a href="#" class="green"><i class="ace-icon fa fa-pencil bigger-130"></i> </a><a href="#" class="red show_delete" style="cursor:pointer"><i class="ace-icon fa fa-trash-o bigger-130"></i> </a></div>'
            }
        ],


        initComplete: function(settings, json) {
             $('.show_delete').confirmation({
                animation: true,
                singleton: true,
                popout: true,
                placement: "top",
                title: "确定要删除吗？",
                btnOkLabel: '确定',
                btnCancelLabel: '取消',
            });
        }
    } );
</script>
{% endblock %}