<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline input-sm btn-sm" id="id_order_table_form" style="margin-bottom: 10px; padding-right: 0px;float: right;">
                    <input type="hidden" id="id_order_table_curr_page" name="page">
                    <input type="hidden" id="id_order_table_page_size" name="size">
                    <input type="hidden" id="id_order_table_order_by" name="ordby">
                    <input type="hidden" id="id_order_table_order" name="order">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control date-picker" id="id_sdate" name="sdate" size="10" placeholder="起始日期">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_edate">-</label>
                        <div class="input-group">
                            <input type="text" class="form-control date-picker" id="id_edate" name="edate" size="10" placeholder="截止日期">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        &nbsp;
                        <div class="input-group">
                            <input type="text" class="form-control" id="id_words" name="words" placeholder="用户/股票">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" id="id_order_table_search">查询</button>
                </form>        
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="id_order_table" class="table table-bordered table-hover" style="width: 100%;border-collapse:collapse;margin-bottom: 5px">
                    <thead>
                        <tr id="id_order_table_head">
                            <th>ID</th>
                            <th>用户</th>
                            <th>股票</th>
                            <th>数量</th>
                            <th>价格</th>
                            <th>持仓</th>
                            <th>可卖</th>
                            <th>买量</th>
                            <th>买价</th>
                            <th>卖量</th>
                            <th>卖价</th>
                            <th>天数</th>
                            <th>保证金</th>
                            <th>建仓费</th>
                            <th>延期费</th>
                            <th>状态</th>
                            <th>日期</th>
                        </tr>
                    </thead>
                    <tbody id="id_order_table_body">
                        <tr class="odd"><td valign="top" colspan="19" class="dataTables_empty" style="text-align: center;">正在加载数据...</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="id_order_table_detail">
            </div>
            <div class="col-md-6" id="id_order_table_pager">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // init date input widget
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    }).next().on(ace.click_event, function(){
        $(this).prev().focus();
    });

    //init table
    ordertable = new CubeTable({
        id: 'id_order_table', 
        url: '{% url "cms.apis.order.order.list" %}',
        size: 20,
        sizes: [10, 20, 30],
        columns: [
            {data: 'id'},
            {data: 'user'},
            {data: 'stock'},
            {data: 'ocount'},
            {data: 'oprice'},
            {data: 'hcount'},
            {data: 'fcount'},
            {data: 'bcount'},
            {data: 'bprice'},
            {data: 'scount'},
            {data: 'sprice'},
            {data: 'hdays'},
            {data: 'margin'},
            {data: 'ofee'},
            {data: 'dfee'},
            {data: 'status'},
            {data: 'date'}
        ]
    });

    //load data
    ordertable.load();

    $('#id_order_table_search').click(
        function(){
            console.log(ordertable);
            ordertable.load();
        }
    );
</script>

