<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline input-sm" id="id_order_table_form" style="margin-bottom: 10px; padding-right: 0px;float: right;">
                    <input type="hidden" id="id_order_table_start" name="start">
                    <input type="hidden" id="id_order_table_count" name="count">
                    <input type="hidden" id="id_order_table_order_by" name="orderby">
                    <input type="hidden" id="id_order_table_order" name="order">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control date-picker" id="id_sdate" name="sdate" size="10" placeholder="起始日期">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_edate">-</label>
                        <div class="input-group">
                            <input type="text" class="form-control date-picker" id="id_edate" name="edate" size="10" placeholder="截止日期">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        &nbsp;
                        <div class="input-group">
                            <input type="text" class="form-control" id="id_words" name="words" placeholder="用户/股票">
                        </div>
                    </div>
                    <div class="btn-group">   
                        <button type="button" class="btn btn-primary btn-sm" id="id_order_table_query">查询</button>
                        <button type="button" class="btn btn-normal btn-sm" id="id_order_table_reset">重置</button>
                    </div>
                    <div class="btn-group">                    
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">详情</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">追保</a>
                            </li>
                            <li>
                                <a href="#">扣费</a>
                            </li>
                            <li>
                                <a href="#">状态</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="id_order_table" class="table table-striped table-bordered table-hover" style="width: 100%;border-collapse:collapse;margin-bottom: 5px">
                    <thead>
                        <tr id="id_order_table_head">
                            <th>ID</th>
                            <th>用户</th>
                            <th>股票</th>
                            <th>数量</th>
                            <th>价格</th>
                            <th>持仓</th>
                            <th>可卖</th>
                            <th>买量</th>
                            <th>买价</th>
                            <th>卖量</th>
                            <th>卖价</th>
                            <th>保证金</th>
                            <th>建仓费</th>
                            <th>延期日</th>
                            <th>延期费</th>
                            <th>状态</th>
                            <th>日期</th>
                        </tr>
                    </thead>
                    <tbody id="id_order_table_body">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" id="id_order_table_info" style="padding-top: 5px">
            </div>
            <div class="col-md-4" id="id_order_table_page">
            </div>
            <div class="col-md-4" id="id_order_table_size">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // init date input widget
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy/mm/dd'
    }).next().on(ace.click_event, function(){
        $(this).prev().focus();
    });

    //init table
    var ordertable = new CubeTable({
        id: 'id_order_table', 
        url: '{% url "cms.apis.order.order.list" %}',
        page: {
            size: 20,
            options: [2, 10, 20, 30]
        },

        cells: {
            render: function(d){
                if(d == null)
                    return '-';
                return d;
            }
        },

        rows: {
            id: 'id',
            onevent: function(e, d) {
                if(e=='dblclick')
                    alert(e +':' + d.rid);
            }
        },

        columns: [
        {id: 'id', sortable: true},
        {id: 'user'},
        {id: 'stock'},
        {id: 'ocount', sortable: true},
        {id: 'oprice', sortable: true},
        {id: 'hcount', sortable: true},
        {id: 'fcount'},
        {id: 'bcount'},
        {id: 'bprice'},
        {id: 'scount'},
        {id: 'sprice'},
        {id: 'margin'},
        {id: 'ofee'},
        {id: 'ddays'},
        {id: 'dfee'},
        {id: 'status'},
        {id: 'date'}
        ],

    });

    ordertable.init();
</script>

