{% extends 'base.html' %}

{% block cssfiles %}
    <link rel="stylesheet" href="/assets/css/bootstrap/ext/toastr.css" />
{% endblock %}

{% block pagecontent %}
    {% include 'order/order/list.html' %}
{% endblock %}

{% block modals %}
  
{% endblock %}

{% block jsfiles %}
    <script src="/assets/js/jquery/ext/validate/1.17.0/jquery.form.js"></script>
    <script src="/assets/js/jquery/ext/validate/1.17.0/jquery.validate.js"></script>
    <script src="/assets/js/jquery/ext/validate/1.17.0/messages_zh.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-confirmation.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/bootstrap/ext/toastr.js"></script>
    <script src="/assets/js/cube/cube.js"></script>
{% endblock %}

{% block jscontent %}
<script type="text/javascript">  
    $('.date-picker').datepicker({
                    autoclose: true,
                    todayHighlight: true
                })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function(){
                    $(this).prev().focus();
                });

</script>
{% endblock %}
