{% extends 'base.html' %}

{% block cssfiles %}
    <link rel="stylesheet" href="/assets/css/datatables/ext/datatables1.10.16/jquery.dataTables.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap/ext/toastr.css" />

{% endblock %}

{% block jsfiles %}
    <script src="/assets/js/jquery/ext/validate/1.17.0/jquery.form.js"></script>
    <script src="/assets/js/jquery/ext/validate/1.17.0/jquery.validate.js"></script>
    <script src="/assets/js/jquery/ext/validate/1.17.0/messages_zh.js"></script>

    <script src="/assets/js/datatables/ext/datatables1.10.16/jquery.dataTables.js"></script>
    <script src="/assets/js/datatables/ext/datatables1.10.16/dataTables.bootstrap.js"></script>

    <script src="/assets/js/bootstrap/ext/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-confirmation.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/bootstrap/ext/toastr.js"></script>
    <script src="/assets/js/cube/cube.js"></script>
    <script src="/assets/js/cube/table.js"></script>
{% endblock %}

{% block pagecontent %}

<div class="row">
    <div class="col-md-10" id="id_order_list">
    </div>
    <div class="col-md-2" id="id_order_detail">
    </div>
</div>
{% endblock %}

{% block modals %}
  
{% endblock %}


{% block jscontent %}
<script type="text/javascript">
    //get order list
    $.get(
        '{% url "cms.widgets.order.order.list" %}',
        function(data, status) {
            if(status == 'success'){
                $('#id_order_list').html(data);
            } else {
                $('#id_order_list').text('请求数据失败');
            }
        }
    );
</script>
{% endblock %}
