{% extends 'base.html' %}

{% block cssfiles %}
    <link rel="stylesheet" href="/assets/css/datatables/ext/datatables1.10.16/jquery.dataTables.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/buttons1.5.1/buttons.bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/datatables/ext/select1.2.5/select.bootstrap.css" />

{% endblock %}

{% block pagecontent %}
    <table id="adminlist" class="table table-bordered table-hover" style="width: 100%;border-collapse:collapse">
           <thead>
            <tr>
                <th>ID</th>
                <th>用户</th>
                <th>姓名</th>
                <th>手机</th>
                <th>禁用</th>
                <th>创建时间</th>
                <th class="center sorting_disabled">操作</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block modals %}
    {% include "auth/admin/add.html" %}
    {% include "auth/admin/del.html" %}
{% endblock %}

{% block jsfiles %}
    <script src="/assets/js/datatables/ext/datatables1.10.16/jquery.dataTables.js"></script>
    <script src="/assets/js/datatables/ext/datatables1.10.16/dataTables.bootstrap.js"></script>
    <script src="/assets/js/datatables/ext/buttons1.5.1/dataTables.buttons.js"></script>
    <script src="/assets/js/datatables/ext/buttons1.5.1/buttons.bootstrap.js"></script>
    <script src="/assets/js/datatables/ext/select1.2.5/dataTables.select.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap/ext/bootstrap-confirmation.js"></script>
{% endblock %}

{% block jscontent %}
<script type="text/javascript">  
    var table = $('#adminlist').DataTable( {
        ajax: {
            url: '{% url 'cms.api.auth.admin.list' %}',
            type: 'POST'
        },

        filter: true,
        processing: true,
        rowId: 'id',
        dom: 'Bfrtip',
        serverSide: false,

        select: {
            style: 'single'
        },
        
        
        language: {
            url: '/assets/json/zh_cn.json?2018'
        },

        buttons: [
            {
                text: '新建',
                className: 'btn btn-success btn-sm',
                action: function(e, dt, node, config) {
                    $('#modal_auth_admin_add').modal();
                }

            }, {
                text: '修改',
                className: 'btn btn-info btn-sm',
                action: function(e, dt, node, config) {
                    $('#modal_auth_admin_add').modal();
                }
            }, {
                text: '删除',
                className: 'btn btn-danger btn-sm',
                action: function(e, dt, node, config) {
                    var row = dt.row({selected: true}).data();
                    if(!row)
                        return;

                    $('#modal_auth_admin_del_user').text(row.name);
                    $('#modal_auth_admin_del').modal();
                }
            }
        ],

        columns: [ {
                data: 'id'
            }, {
                data: 'user'
            }, {
                data: 'name'
            }, {
                data: 'phone'
            }, {
                data: 'disable',
                render: function(data, type, row, meta) {
                    if(type != 'display')
                        return data;

                    if(data)
                        return '<span class="label label-danger">是</span>';
                    else
                        return '<span class="label label-success">否</span>';
                }
            }, {
                data: 'ctime',
                render: function(data, type, row, meta) {
                    if(type != 'display')
                        return data;

                    var cdate = new Date();
                    cdate.setTime(data*1000);
                    return cdate.toLocaleString();
                }
            }, {
                data: 'id',
                orderable: false,
                selectable: false,
                render: function(data, type, row, meta) {
                    return '<div class="hidden-sm hidden-xs btn-group" style="display: block">'+
                                '<a class="btn btn-xs btn-success show_detail" href="javascript:void(0)" data-value="' + data + '">' +
                                    '<i class="ace-icon fa fa-search-plus bigger-130"></i>' +
                                '</a>'+
                                '<a class="btn btn-xs btn-info show_modify" href="javascript:void(0)" data-value="' + data + '">' +
                                    '<i class="ace-icon fa fa-pencil bigger-130"></i>' +
                                '</a>'+
                                '<a class="btn btn-xs btn-danger show_delete" href="javascript:void(0)" data-toggle="confirmation" data-href="javascript:show_delete(' + data + ')">' +
                                    '<i class="ace-icon fa fa-trash bigger-130"></i>' +
                                '</a>'+
                            '</div>';
                }
            }
        ],

        initComplete: function(settings, json) {
            $('.show_detail').on('click', function(e){
                var id = $(this).data('value');
                show_detail(id);
            });

            $('.show_modify').on('click', function(e){
                var id = $(this).data('value');
                show_modify(id);
            });

            $('.show_delete').confirmation({
                animation: true,
                singleton: true,
                popout: true,
                placement: "top",
                title: "确定要删除吗？",
                btnOkLabel: '确定',
                btnCancelLabel: '取消',
            });
        }
    } );

    function show_detail(id){
        alert('detail '+id);
        console.log(table.rows().ids());
    }

    function show_modify(id) {
        alert('modify '+id);
    }

    function show_delete(id){
        var params = 'id='+id;

        $.get('{% url 'cms.api.auth.admin.del' %}', params, function(resp){
            if(resp.status){
                alert(id);
                table.row('#'+id).remove();
                table.draw();
            } else {
               alert(resp.message);
            }
        }, "json");

        $('.show_delete').confirmation('hide');
    }
</script>
{% endblock %}
