<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Arm-首页</title>
    <link rel="stylesheet" type="text/css" href="/assets/jquery-easyui/1.5.5.2/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/assets/jquery-easyui/1.5.5.2/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/jquery-easyui/1.5.5.2/themes/icon.css">
    <script type="text/javascript" src="/assets/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-easyui/1.5.5.2/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-easyui/1.5.5.2/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/assets/cube/cube.js"></script>
</head>
<body class="easyui-layout">
    <div id="header" data-options="region:'north',border:false" style="height:30px;">
        <div style="padding: 5px 10px;background-color: #f9f9f9;">
            <span>{{name}}, 欢迎!</span>
            <span style="float: right;">
                    <span><a href="#" onclick="changepwd()">修改密码</a></span>
                    <span><a href="#" onclick="logout()">退出</a></span>
            </span>
        </div>
    </div>

    <div id="footer" data-options="region:'south'" style="height:20px;">
        <div style="position: absolute;left: 50%;transform: translateX(-50%);">
            <span>运营管理系统@2018</span>
        </div>
    </div>

    <div title="运营管理系统" data-options="region:'west',split:true" style="width:150px;">
        <ul class="easyui-tree">
            {% for module in modules %}
            <li>
                <span>{{ module.name }}</span>
                <ul class="easyui-tree">
                    {% for child in module.childs %}
                        <li>
                            <a href="#" onclick="opentab('{{ child.name }}','{{ child.path }}')">{{ child.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div data-options="region:'center'">
        <div class="easyui-tabs" id="mytabs" fit="true" border="true" plain="true">
            <div title="欢迎">
                <h1 style="text-align: center;">欢迎使用运营管理系统!</h1>
            </div>
        </div>
    </div>

    <div id="dlg_changepwd">
        <form id="form_changepwd" method="post">
            <div style="padding: 10px">
                <input class="easyui-passwordbox" id="pwd" name="pwd" type="text" data-options="prompt:'请输入密码', required:true, validType:['text', 'length[3,16]']" style="width: 100%">
            </div>
            <div style="padding: 10px">
                <input class="easyui-passwordbox" id="cpwd" name="cpwd" type="password" prompt="请重复密码" validType="equals['#pwd']" style="width: 100%" required="required">
            </div>
            <div id='hint'></div>
        </form>
    </div>

    <script type="text/javascript">
        //open new tab
        function opentab(title, url) {
            var mytabs = $('#mytabs');
            if(mytabs.tabs('exists', title)){
                mytabs.tabs('select', title);
            } else {
                $('#mytabs').tabs('add', {
                    title: title,
                    //content: '<iframe style="width:100%;height:100%;" src="http://www.baidu.com/"></iframe>',
                    href: url,
                    closable: true,
                    extractor:function(data){
                        return data;
                    }
                });
            }
        }

        //change password
        function changepwd() {
            $('#form_changepwd').form('disableValidation');
            $('#form_changepwd').form('reset');
            $('#dlg_changepwd').dialog('open');
        }

        //user logout
        function logout() {
            //alert('logout');
            $.post('/api/admin/logout',
                function(resp, status) {
                    if(resp.status){
                        window.location.assign('/cms/login/');
                    } else {
                        alert(resp.message);
                    }
                },
                'json'
            );
        }

        //init & setup events
        $(function(){
            //init change password dialog
            $('#dlg_changepwd').dialog({
                title: '修改密码',
                width: 300,
                height:200,
                closed: true,
                modal: true,
                buttons: [
                {
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function(){
                        $('#form_changepwd').submit();
                    }
                },{
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function(){
                        $('#dlg_changepwd').dialog('close');
                    }
                }
                ]
            });

            //init change passowrd form
            $('#form_changepwd').form({
                url: '/api/admin/pwd/change',
                type: 'post',
                novalidate: true,
                onSubmit: function() {
                    return $(this).form('enableValidation').form('validate');
                },
                success: function (data) {
                    var resp = JSON.parse(data);
                    if (resp.status) {
                        // close change passowrd dialog
                        $('#dlg_changepwd').dialog('close');

                        // relogin after change passowrd
                        window.location.assign('/cms/login/');
                    } else {
                        $('#hint').html(resp.message);
                    }
                }
            });


            //confirm password
            $.extend($.fn.validatebox.defaults.rules, {
                equals: {
                    validator: function(value, param){
                        var pass = $(param[0]).passwordbox('getValue');
                        return value == pass;
                    },
                    message: '前后输入密码不一致'
                }
            });
        });
    </script>
</body>
</html>